Source: ros-hydro-baxter-tools
Section: misc
Priority: extra
Maintainer: Rethink Robotics Inc. <rsdk.support@rethinkrobotics.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-baxter-core-msgs, ros-hydro-baxter-interface, ros-hydro-baxter-maintenance-msgs, ros-hydro-catkin, ros-hydro-cv-bridge, ros-hydro-geometry-msgs, ros-hydro-rospy, ros-hydro-sensor-msgs
Homepage: http://www.rethinkrobotics.com/sdk
Standards-Version: 3.9.2

Package: ros-hydro-baxter-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-baxter-core-msgs, ros-hydro-baxter-interface, ros-hydro-baxter-maintenance-msgs, ros-hydro-cv-bridge, ros-hydro-geometry-msgs, ros-hydro-rospy, ros-hydro-sensor-msgs
Description: Useful operational and maintenance tools for use with the Baxter Research Robot from Rethink Robotics
